
.userHeader {
    display: flex;
    align-items: center;

    & > * {
        margin-right: var(--spacer-S);
    }

    .username {
        font-weight: bold;
        margin-right: var(--spacer-S);
    }

    .roles {
        opacity: .8;
    }

    .addnew {
        font-style: italic;
        opacity: .8;
    }
}

.userDetails {
    display: flex;
    flex-direction: column;

    .buttonsBar {
        margin-top: var(--spacer-S);
        display: flex;
        justify-content: flex-end;
    }
}